[submodule "common"]
	path = common
	url = git@github.com:backuptools/backuptools-common.git
[submodule "simplegui"]
	path = simplegui
	url = git@github.com:backuptools/backuptools-simplegui.git
[submodule "command"]
	path = command
	url = git@github.com:backuptools/backuptools-command.git

